doctype html
head
  style
    include ../../public/stylep.css
  script(src='../../public/script.js')
  title Bella Abdelouahab
header
  nav.navbar
    .logo.customFont My Site
    ul
      li
        a.customFont(href='#') Home
      li
        a.customFont(href='#') About
      li
        a.customFont(href='#') Services
      li
        a.customFont(href='#') Contact us
section.home
  block content
